@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}


:root {
	--main-color: linear-gradient(90deg, #C7C5F4, #776BCC);
	--sub-color: #776BCC;
	--light-color: #67636368;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);
	min-height: 100vh;
}

/* a{
	text-decoration: none;
	color: white;
} */

.nav-clr {
	background-color: var(--sub-color) !important;
	color: white;
}

.active-link-dashboard {
	background-color: var(--light-color) !important;
	color: #000000 !important;
}

.vertical-text {
	writing-mode: vertical-rl;
	/* Set the writing mode to vertical right-to-left */
	text-orientation: upright;
	/* Set the text orientation to upright */
	letter-spacing: 0.5em
}

.book-clr {
	color: #776BCC;
}

.mycontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	position: relative;
	height: 95vh;
	width: 360px;
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;
	/* top: 420px; */
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);
}


/* --Admin Dashboard-- */

.menu,
.menu-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.menu li a {
	display: block;
	text-indent: -500em;
	height: 5em;
	width: 5em;
	line-height: 5em;
	text-align: center;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}

.menu li a:before {
	font-family: FontAwesome;
	text-indent: 0em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.4em;
}

.menu li a.search:before {
	content: "\f002";
}

.menu li a.archive:before {
	content: "\f187";
}

.menu li a.pencil:before {
	content: "\f040";
}

.menu li a.contact:before {
	content: "\f003";
}

.menu li a.about:before {
	content: "\f007";
}

.menu li a.home:before {
	content: "\f039";
}

.menu-bar li a:hover,
.menu li a:hover,
.menu li:first-child a {
	background: var(--sub-color);
	color: #fff;
}

.menu-bar {
	overflow: hidden;
	left: 5em;
	z-index: 5;
	width: 0;
	height: 0;
	transition: all 0.1s ease-in-out;
}

.menu-bar li a {
	display: block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	color: #72739f;
	text-decoration: none;
	position: relative;
	font-family: verdana;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	transition: background 0.1s ease-in-out;
}

.menu-bar li:first-child a {
	height: 5em;
	background: #267fdd;
	color: #fff;
	line-height: 5
}


.para {
	color: #033f72;
	padding-left: 100px;
	font-size: 3em;
	margin-bottom: 20px;
}

.open {
	width: 10em;
	height: 100%;
}

@media all and (max-width: 500px) {
	.vertical-text {
		writing-mode: horizontal-tb;
	}

	.menu {
		height: 5em;
		width: 100%;
	}

	.menu li {
		display: inline-block;
		float: left;
	}

	.menu-bar li a {
		width: 100%;
	}

	.menu-bar {
		width: 100%;
		left: 0;
		height: 0;
	}

	.open {
		width: 100%;
		height: auto;
	}

	.para {
		padding-left: 5px;
	}
}


.adminDashboard~* {
	margin-left: 100px;
}


@media screen and (max-height: 34em) {

	.menu li,
	.menu-bar {
		font-size: 70%;
	}
}

@media screen and (max-height: 34em) and (max-width: 500px) {
	.menu {
		height: 3.5em;
	}
}

@media (width < 576px) {
	.h-xs-100 {
		height: 100% !important;
	}

	.adminDashboard~* {
		margin-left: unset;
		margin-top: 100px !important;
	}
}


/* new student form */
/* .new-student-form{ */
input {
	outline-width: none !important;
}

/* } */


/* ---Page 404--- */
#notfound {
	position: relative;
	height: 100vh;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 410px;
	width: 100%;
	text-align: center;
}

.notfound .notfound-404 {
	height: 280px;
	position: relative;
	z-index: -1;
}

.notfound .notfound-404 h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 230px;
	margin: 0px;
	font-weight: 900;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url('/images/404.jpg') no-repeat;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
	background-position: center;
}


.notfound h2 {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}

.notfound p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 0px;
}

.notfound a {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: var(--sub-color);
	display: inline-block;
	padding: 15px 30px;
	border-radius: 40px;
	color: #fff;
	font-weight: 700;
	-webkit-box-shadow: 0px 4px 15px -5px #0046d5;
	box-shadow: 0px 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 767px) {
	.notfound .notfound-404 {
		height: 142px;
	}

	.notfound .notfound-404 h1 {
		font-size: 112px;
	}
}